<html>
<head>
    <title>{{ document.getTitle() }}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container-fluid">
    <div class="container">
        <h2 class="text-center">{{ document.getTitle() }}</h2>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% for slot in document.getTemplate() %}
            {{ slot.getInputElement() | raw }}
        {% endfor %}
        </form>
    </div>
</div>
</body>
</html>